<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
          <a class="navbar-brand mx-2" href="#">Flowerstore Exam</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8000/">Home <span class="sr-only"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/products">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/orders">Orders</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
