<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Order Component</div>
                    <table class="table table-dark">
                        <thead>
                          <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Price</th>
                          </tr>
                        </thead>
                        <tbody v-for="order in orders" :key="order.id">
                          <tr>
                            <th scope="row">{{ order.id}}</th>
                            <td>{{ order.product_id}}</td>
                            <td>{{ order.price}}</td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                orders: [],
            }
        },
        created(){
            axios.get('http://localhost:8000/api/getOrders')
            .then(response => {
                this.orders = response.data;
                console.log(this.orders)
            });

        }
    }
</script>