<template>
    <div class="container">
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody v-for="product in products" :key="product.id">
              <tr>
                <th scope="row">{{ product.product_name}}</th>
                <td>{{ product.product_description}}</td>
                <td>{{ product.price}}</td>
                <td>
                    <button v-if="product.status===0"class="btn btn-success" @click="enableProduct(product.id)">Enable</button>
                    <button v-else class="btn btn-warning"@click="disableProduct(product.id)">Disable</button>
                    <!-- <button class="btn btn-success">Enable</button> -->
                    <button class="btn btn-danger" @click="deleteProduct(product.id)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
        <form>
          <div class="form-group my-3">
            <h4 class="my-3">Create products</h4>
            <input type="text" class="form-control" placeholder="Enter Product Name" name="product_name" v-model="form.product_name">
          </div>
          <div class="form-group my-3">
            <input type="text" class="form-control" placeholder="Enter Description" name="product_description" v-model="form.product_description">
          </div>
          <div class="form-group my-3">
            <input type="text" class="form-control" placeholder="Enter Quantity" name="quantity" v-model="form.quantity">
          </div>
          <div class="form-group my-3">
            <input type="text" class="form-control" placeholder="Enter Price" name="price" v-model="form.price">
          </div>
          <button type="submit" class="btn btn-primary" @click="submit">Submit</button>
        </form>
        <p>{{product_name}}</p>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                products: [],
                product_name:'',
                form: {
                    product_name:'',
                    product_description:'',
                    quantity:0,
                    price:0
                }
            }
        },
        created(){
            axios.get('http://localhost:8000/api/getProducts')
            .then(response => {
                this.products = response.data;
                console.log(this.products)
            });

        },
        methods: {
            submit() {
                axios.post('http://localhost:8000/api/store', this.form)
                .then(response => {
                    alert('success')
                });
            },
            deleteProduct(id) {
                console.log(id)
                axios.delete(`http://localhost:8000/api/destroy/${id}`)
                .then(response => {
                    axios.get('http://localhost:8000/api/getProducts')
                    .then(response => {
                        this.products = response.data;
                        console.log(this.products)
                    });
                    alert('deleted')

                });
            },
            enableProduct(id) {
                console.log(id)
                axios.put(`http://localhost:8000/api/enable/${id}`,{
                    status: 1
                })
                .then(response => {
                    axios.get('http://localhost:8000/api/getProducts')
                    .then(response => {
                        this.products = response.data;
                        console.log(this.products)
                    });
                    alert('enabled')

                });
            },
            disableProduct(id) {
                console.log(id)
                axios.put(`http://localhost:8000/api/disable/${id}`,{
                    status: 0
                })
                .then(response => {
                    axios.get('http://localhost:8000/api/getProducts')
                    .then(response => {
                        this.products = response.data;
                        console.log(this.products)
                    });
                    alert('disabled')

                });
            },
        }
    }
</script>